<% unless @any_reward %>
  <div>
    <%= t('rewards.no_rewards') %>
  </div>
  <%= link_to t('rewards.create_new'), new_reward_path(locale: I18n.locale) %>
<% end %>
<div class="quests-wrapper">
  <h1><%= t('quests.today') %></h1>
  <%= turbo_frame_tag "quests" do %>
    <%= render @quests %>
  <% end %>

  <%= turbo_frame_tag "reward_message" do %>
    <% if @reward_message.present? %>
      <p><%= @reward_message %></p>
    <% end %>
  <% end %>

  <%= turbo_frame_tag "quest_form" do %>
    <%= render 'form', quest: @quest %>
  <% end %>
</div>
