
<% unless @any_reward %>
  <div>
    You have no rewards!
  </div>
  <%= link_to 'Create new reward', new_reward_path %>
<% end %>
<div class="quests-wrapper">

  <h1>Quests Today:</h1>
  <%= turbo_frame_tag "quests" do %>
    <%= render @quests %>
  <% end %>

  <%= turbo_frame_tag "reward_message" do %>
    <% if @reward_message.present? %>
      <p><%= @reward_message %></p>
    <% end %>
  <% end %>

  <%= turbo_frame_tag "quest_form" do %>
    <%= render 'form', quest: @quest %>
  <% end %>
</div>
