<%= turbo_frame_tag dom_id(@reward) do %>
  <%= form_with model: @reward, local: true do |form| %>
    <div>
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
    <div>
      <%= form.label :probability %>
      <%= form.number_field :probability %>
    </div>
    <div>
      <%= form.submit 'Save' %>
    </div>
  <% end %>
<% end %>
