<div class="navbar-container">
  <div class="navlinks-container">
    <div>
      <%= link_to t("navbar.quests"), quests_path %>
    </div>
    <div>
      <%= link_to t("navbar.rewards"), rewards_path %>
    </div>
  </div>

  <div class="locale-switcher">
    <% I18n.available_locales.each do |locale| %>
      <%= link_to locale_full_name(locale), url_for(locale: locale), class: 'btn btn-secondary' %>
    <% end %>
  </div>

  <div class="session-links-container">
    <% if user_signed_in? %>
      <div>
       <%= "#{t("navbar.hello")} " %> <%= current_user.login %>!
      </div>

      <div>
        <%= link_to t("navbar.sign_out"), destroy_user_session_path, data: { "turbo-method": :delete } %>
      </div>

    <% else %>
      <%= link_to t("navbar.log_in"), new_user_session_path, class: 'btn btn-primary' %>
      <%= link_to t("navbar.sign_up"), new_user_registration_path, class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
